#parse("/velocity/layout.vm")
#@mainLayout()

<h1>Add Balance to your account</h1>
<form id="insertBalanceForm" method="post">
    <label>Amount to add to balance:</label>
    <input type="number" step="0.01" min="0.0" name="amount" placeholder="Amount" value = "" required>
    <input type="submit" value="Add to Balance">
</form>

<br>
Current balance: $balance
#end
