#parse("/velocity/layout.vm")
#@mainLayout()
<h1>All Item in Cart</h1>


<div class="row row-3">
    #foreach($item in $cartItems)
        <div class="col">
            <a class="book" href="$WebPath.getUPLOAD_AUCTION()$item.getAuction_id()">
                $item.getItem_name()
            </a>
        </div>
    #end
</div>
#end
