#parse("/velocity/layout.vm")
#@mainLayout()
<h1>All Auctions</h1>
<a class="book" href="$WebPath.getUPLOAD_AUCTION()">
    Upload Auction
</a>
<div class="row row-3">
    #foreach($auction in $auctionList)
        <div class="col">
            <a class="book" href="$WebPath.getUPLOAD_AUCTION()$auction.getAuctionId()">
                $auction.getItemName()
            </a>
        </div>
    #end
</div>
#end
