#parse("/velocity/layout.vm")
#@mainLayout()
    <a class="book" href="$WebPath.getALL_AUCTIONS()">
        Back to All Auctions
    </a>

    #if($auction)
    <h1>$auction.getItemName()</h1>
    <div>
    #if($auction.getCurrentBid())
        <h2>Current Price: $auction.getCurrentBid()</h2>
    #else
        <h2>Current Bid: $auction.getStartingPrice()</h2>
    #end
    #if($auction.getBuyNowPrice() && $auction.getBuyNowPrice() > 0)
        <h2>Buy Now: $auction.getBuyNowPrice()</h2>
        #if($auction.getSellerId() != $userID)
        <form id="buyNowForm" method="get" action="$WebPath.getALL_AUCTIONS()">
            <input type="submit" value="TODO: Buy Now">
        </form>
        #end
    #end
    <br>
    #if($auction.getSellerId() != $userID)
    <form id="placeBidForm" method="post">
        #if($auction.getCurrentBid())
            <input type="bidPrice" step="0.01" min="$auction.getCurrentBid()">
        #else
            <input type="bidPrice" step="0.01" min="$auction.getStartingPrice()">
        #end
        <input type="submit" value="Place Bid">
    </form>
    #end

    <h2> Auction expires at: $auction.getExpireTime()</h2>

    </div>
    #else
    <h1>Sorry, this auction is no longer active</h1>
    #end
#end
