#parse("/velocity/layout.vm")
#@mainLayout()
    <a class="book" href="$WebPath.getALL_AUCTIONS()">
        Back to All Auctions
    </a>

    #if($auction)
    <h1>$auction.getItemName()</h1>
    <div>
    #if($auction.getCurrentBid())
        <h2>Current Price: $auction.getCurrentBid()</h2>
    #else
        <h2>Current Bid: $auction.getStartingPrice()</h2>
    #end
    #if($auction.getBuyNowPrice() && $auction.getBuyNowPrice() > 0)
        <h2>Buy Now: $auction.getBuyNowPrice()</h2>
        #if($auction.getSellerId() != $userID)
        <form id="buyNowForm" method="post" action="$WebPath.getALL_AUCTIONS()">
            <input type="text" name="auctionId" value="$auction.getAuctionID()" hidden>
            <input type="submit" value="Buy Now">
        </form>
        #end
    #end
    <br>
    #if($auction.getSellerId() != $userID)
    <form id="addToWatchlistForm" method="post" action= "$WebPath.getADD_TO_WATCHLIST()">
        <input type="text" name="auctionID" hidden value = "$auction.getAuctionId()">
        <input type="submit" value="Add auction to watchlist">
    </form>

    <form id="placeBidForm" method="post" action="$WebPath.getUPLOAD_BID()">
        <input name="auctionID" value="$auction.getAuctionId()" hidden>
        #if($auction.getCurrentBid())
            <input name="bidPrice" type="number" step="0.01" min="$auction.getCurrentBid()">
        #else
            <input name="bidPrice" type="number" step="0.01" min="$auction.getStartingPrice()">
        #end
        <input type="submit" value="Place Bid">
    </form>
    #end

    <h2> Auction expires at: $auction.getExpireTime()</h2>

    </div>
    #else
    <h1>Sorry, this auction is no longer active</h1>
    #end
#end
