#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>

    <nav style="height:4%">
        <div style="float:right">
            #if($currentUser)
            <a href=$WebPath.getALL_AUCTIONS()>User</a> |
            <a href=$WebPath.getALL_AUCTIONS()>Auctions</a> |
            <a href=$WebPath.getITEMS()>Items</a> |
            <a href=$WebPath.getITEMS()>Shopping Cart</a> |
            <a href=$WebPath.getLOGOUT()>Logout </a>
            #else
                <li><a href="$WebPath.getLOGIN()"">$msg.get("COMMON_NAV_LOGIN")</a></li>
            #end
        </div>

    </nav>

</header>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
<footer>
    $msg.get("COMMON_FOOTER_TEXT")
</footer>
</body>
</html>
#end
