#parse("/velocity/layout.vm")
#@mainLayout()
<a class="book" href="$WebPath.getITEM()">
    Upload Items
</a>

<h2>Search Items: </h2>
<form id="searchKeywordForm" method="get">
    <input type="text" name="search_type" value="keyword" required hidden>
    By Name
    <input type="text" name="search_value" placeholder="Search" value="" required>
    Order: <select name="order" id="order" required>
        <option value="DESC">Descending</option>
        <option value="ASC">Ascending</option>
    </select>
    <input type="submit" value="Search">
</form>

<form id="searchCategoryForm" method="get">
    <input type="text" name="search_type" value="category" required hidden> By Category
    <select name="search_value" id="category">
        #foreach($category in $categories)
            <option value="$category">$category</option>
        #end
    </select>
    Order: <select name="order" id="order" required>
        <option value="DESC">Descending</option>
        <option value="ASC">Ascending</option>
    </select>
    <input type="submit" value="Search">
</form>

<h1>All Items</h1>
<div class="row row-3">
    #foreach($item in $itemList)
        <div class="col">
            <a class="book" href="$WebPath.getITEM()$item.getItemID()">
                $item.getItemName()
            </a>
        </div>
    #end
</div>
#end
