#parse("/velocity/layout.vm")
#@mainLayout()
    #if($activeAuction)
        <p class="bad notification">This Item is currently an active auction.</p>
    #end
    <a class="book" href="$WebPath.getITEMS()">
        Back to All Items
    </a>
    #if($item)
    <h1>$item.getItemName()</h1>
    <h2>$item.getDescription()</h2>
    #if($item.getCategory())
        <h2>$item.getCategory()</h2>
    #else
        <h2>Item Category no longer exists</2>
    #end
    #if($userID eq $item.getUserID())
        <form id="uploadAuctionForm" method="get" action="$WebPath.getUPLOAD_AUCTION()">
            <input name="item_id" type="text" value = $item.getItemID() hidden>
            <input type="submit" value="Create Auction">
        </form>
    #end
    #if($userID eq $item.getUserID() || $userRole eq "Admin")
        <form id="deleteItemForm" method="post" action="$WebPath.getDELETE_ITEM()">
            <input name="item_id" type="text" value = $item.getItemID() hidden>
            <input type="submit" value="Delete Item">
        </form>
    #end
    #else
    <h1>Sorry, this item can no longer be found</h1>
    #end
    <form id="flagItemForm" method="post" action="$WebPath.getFLAG_ITEM()">
        <input name="item_id" type="text" value = $item.getItemID() hidden>
        <input type="submit" value="Flag Item as Inappropriate">
    </form>
#end
